{%from "macros.html" import static_file%}
<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8">
            <title>{%block title%}欢迎界面{%endblock title%}</title>
            {{static_file("icon","img/favicon.png")}}
            {%block styles%}
            <!-- #css脚本 -->
            {{static_file('css','style.css')}}
            {%endblock styles%}
        {% endblock head %}
    </head>
    <body>
        <nav>
            <ul><li><a href="{{url_for('instal')}}" title="回家去吧">Home</a></li></ul>
        </nav>
        <hr>
        <main>
            {%for message in get_flashed_messages()%}
                <div class="alert">{{message}}</div>
            {%endfor%}
            {%block content%}{%endblock content%}
        </main>
        <footer>
            <hr>
            {%block footer%}
            <small> &copy; 2020 <a href="http://aqiu.info" title="Written by Q Liu">Q Liu</a> /
                <a href="https://github.com/greyli/helloflask" title="Fork me on GitHub">GitHub</a> /
                <a href="http://helloflask.com" title="A HelloFlask project">HelloFlask</a>
            </small>

            {%endblock footer%}
        </footer>
        {%block scripts%}
<!-- #JavaScript脚本 -->
        {%endblock scripts%}
    </body>
</html>