<!DOCTYPE html>
<html>
    <head>
        {% block head%}
            <meta charset="utf-8">
            <title>{%block title%}Template-HelloFlask{%endblock title%}</title>
            <link rel="icon" type="image/x-icon" href="{{url_for('static',filename='img/favicon.png')}}">
            {%block styles%}
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
            {%endblock styles%}
        {%endblock head%}
    </head>
    <body>
        <nav>
            <ul><li><a href="{{url_for('instal')}}">Home</a></li></ul>
        </nav>
        <hr>
        <main>
            {%block content%}{%endblock content%}
        </main>
        <footer>
            <hr>
            {%block footer%}
            {%endblock footer%}
        </footer>
        {%block scripts%}{%endblock scripts%}
    </body>
</html>